doctype html
html
    head
        title template
        link(rel='stylesheet', href='/styles/template.css')
        each image in cache.images
            if image.styles
                each style in image.styles
                    link(rel='stylesheet' href!=style)
        script(src='/js/render.js')
        script(src='/js/0.render.js')
        meta(version=1)
    body(style='position:relative; margin:0; padding: 0;' )
        #root(data-image-id=id, data-render!=encodeURIComponent(JSON.stringify(cache)))
