doctype html
html
    head
        title template
        link(rel='stylesheet', href='/styles/template.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.js')
        script(src='/js/render.js')
    body(style='position:relative; margin:0; padding: 0;')
        #root(data-image-id=id)
